<h2>Create Auction</h2>

<form method="post">
    <label>Title</label>
    <input type="text" name="Title" />
    <br />
    <label>Picture</label>
    <input type="text" name="PictureURL" />
    <br />
    <label>Description</label>
    <input type="text" name="Description" />
    <br />
    <label>ActualAmount</label>
    <input type="number" name="ActualAmount" />
    <br />
    <label>StartingTime</label>
    <input type="text" name="StartingTime" />
    <br />
    <label>EndTime</label>
    <input type="text" name="EndTime" />
    <br />
    <button>Save</button>
</form>