<h2>Create Auction</h2>

<form id="createForm" method="post" action="Auctions/Create">

    <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="Title" />
    </div>
    
    <div class="form-group">
        <label>Picture</label>
        <input class="form-control" type="text" name="PictureURL" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input class="form-control" type="text" name="Description" />
    </div>
    <div class="form-group">
        <label>ActualAmount</label>
        <input class="form-control" type="number" name="ActualAmount" />
    </div>
    <div class="form-group">
        <label>StartingTime</label>
        <input class="form-control" type="text" name="StartingTime" />
    </div>
    <div class="form-group">
        <label>EndTime</label>
        <input class="form-control" type="text" name="EndTime" />
    </div>
    <div class="form-group">
        <button class="form-control btn btn-success" type="button" id="saveButton">Save</button>
    </div>
</form>

<script src="~/Scripts/ControllerScripts/Auctions.js"></script>