@*@model DealDouble.Web.ViewModels.PageViewModel*@

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @*<meta name="description" content="@Model.PageDescription">

        <title>@Model.PageTitle</title>*@

    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/css/shop-homepage.css" rel="stylesheet">


    <script src="~/Content/vendor/jquery/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/9b5a3d79d0.js" crossorigin="anonymous"></script>

</head>

<body>

    @{ Html.RenderPartial("_Navbar"); }

    <div class="container">
        @RenderBody()
    </div>

    @{ Html.RenderPartial("_Footer"); }

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>